.navbar{
    background-color: orange;
}
.logopizza365{
    padding-top: 100px;
    color: orange;
}
.innghien{
    font-style: italic;
}
.tieude365{
    padding-top: 100px;
    color: orange;
    border-bottom: 1px solid;
}
.menu{
    color: orange;
}
.buttonSL, .buttonPizza{
    background-color: orange;
}
.changeColor{
    background-color: red;
}
